<ul class="list-unstyled">
  <% groups.each do |group| %>
    <li class="media border-bottom">
      <div class="media-body">
        <div>
          <%= link_to group.name, group_path(group) %>
        </div>
        <div class="row">
          <span>
            <%= link_to "編集", edit_group_path(group), class: 'btn btn-primary btn-sm' %>
          </span>
          <span class="ml-1">
            <%= link_to "消去", group, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          </span>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate groups %>
</ul>