<div class="row border border-dark col-md-10 offset-md-1">
  <div class="col-md-8 offset-md-1">
    <h1 class="text-left">Let's learn together</h1>
  </div>
  <div class="col-md-10 offset-md-1">
    <h1 class="text-center">and</h1>
  </div>
  <div class="col-md-10 offset-md-1">
    <h1 class="text-right">improve ourselves together</h1>
  </div>
</div>

<div class="p-3 mt-3">
  <u><h1 class="text-center">一緒に頑張る仲間を見つけよう。</h1></u>
</div>

<div class="col-md-10 offset-md-1">
  <img src="/assets/top_page.jpg" class="img-fluid" alt="[写真]">
</div>

<div class="p-3 mt-3 col-md-10 offset-md-1">
  <p class="text-center">　受験を控えた学生の方、将来や昇進のために資格取得を目指している社会人の方、こんにちは。<br>勉強って１人で頑張るのは大変ですよね？同じ目標を持った人たちと日頃の頑張りや悩みを共有してみませんか？<br>「Study Together」は、同じ目標を持ったユーザーをフォローしたり日々の勉強や悩みを共有できるサービスです。</p>
</div>